<footer class="footer pt-6 pb-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand me-lg-5" href="/">
                    <img class="navbar-brand-dark mb-4" height="35" src="/static/assets/img/brand/light.svg"
                        alt="Logo light">
                </a>
                <p>I am a Data Analyst that made a flask app to learn more about Artificial Inteligence
                    and Deep Learning! Reach out if you're curious!
                </p>
            </div>

            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <span class="h5">Get in touch!</span>
                </br>
                </br>
                <a href="https://www.linkedin.com/in/karollynesilva/" target="_blank"
                    class="text-muted font-small mt-2">Linkedin</a>
                </br>
                <a href="https://github.com/karolers" target="_blank" class="text-muted font-small mt-2">GitHub</a>
            </div>

            <hr class="bg-secondary my-3 my-lg-5">
            <div class="row">
            </div>
        </div>
</footer>