<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
        <div class="container position-relative">
            <a class="navbar-brand me-lg-5" href="/">
                <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Logo light">
                <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
            </a>
        </div>
    </nav>
</header>